*{
box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    background-color: dark gray;
    margin:0px;
}

.numpad{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
}

.mid{
    height: 400px;
    width: 300px;
}

.calcBody{
    height:100%;
    width:100%;
    margin: 0px;
}

.buttonRow{
    flex-grow: 1;
    display: flex;
}

.title{
    font-size: 100px;
    font-family: 'digital-clock-font';
}

.calcButton{
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:#4eb5f1;
text-align:center;
transition: all 0.2s;
flex-grow: 1;

}

.calcButton:hover{
background-color:#4095c6;
}

@media all and (max-width:30em){
    a.button3{
    display:block;
    margin:0.2em auto;
    }
}

@font-face{
    font-family:'digital-clock-font';
    src: url('./digital-7.regular.ttf');
}

.screen{
    display: flex;
    /* align-items:center; */
    width: auto;
    height: 45px;
    justify-content: right;
    padding: 2px;
    border: 2px solid black;
}

#screenText{
    font-size: 50px;
    font-weight: bold;
    font-family: 'digital-clock-font';
}