body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(240, 156, 0);
    margin:0px;
}

.numpad{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
}

marquee{
    truespeed: 100;
}

.mid{
    padding: 8px;
    align-content: center;
    height: 460px;
    width: 315px;
    outline: 10px ridge gray;
    border-radius: 2rem;
    background-color: rgb(73, 73, 73);
    box-shadow: 12px 12px 12px rgb(0 0 0 / 50%);
}

.calcBody{
    height:95%;
    width:95%;
    margin: auto auto;
    margin-top: 10px;
}

.buttonRow{
    flex-grow: 1;
    display: flex;
}

.title{
    font-size: 60px;
    font-family: 'digital-clock-font';
}

.calcButton{
height: 70px;
width: 66px;
padding:20px;
margin:0 0.3em 0.3em 0;
border-radius:5px;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:gray;
text-align:center;
transition: all 0.2s;
flex-grow: 1;
}

.calcButton:hover{
background-color:lightgray;
color:black;
transform: translateY(-0.2rem);
}

.del{
    background-color: rgb(240, 156, 0);
}

.del:hover{
    background-color: rgb(250, 160, 10);
}

.beans{
    background-image: url(./beans.jpg);
    background-size: 100%;
}

.equal{
    background-color: darkgreen;
}

.equal:hover{
    background-color: rgb(61, 163, 61);
}

.operator{
    background-color: darkblue;
}

.operator:hover{
    background-color: rgb(93, 93, 255);
}

@media all and (max-width:30em){
    a.button3{
    display:block;
    margin:0.2em auto;
    }
}

@font-face{
    font-family:'digital-clock-font';
    src: url('./digital-7.regular.ttf');
}

.screen{
    display: flex;
    width: auto;
    height: 45px;
    justify-content: right;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
}

#screenText{
    font-size: 50px;
    font-family: 'digital-clock-font';
    overflow: hidden;
}